body{
background-image:url("images/bgimg.jpg");
}
table{
font-family: 'Oswald', sans-serif;
margin-top:2em;
color:white;
}
.userdetails{
font-family: 'Oswald', sans-serif;
font:20px;
}
.signup{
color:#000A1F;
font-family:verdana;	
padding:5px 10px;
font-size:15px;
font-family: 'Oswald', sans-serif;
background:#ccc; 
border:1px standard;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 		 
display: inline-block; 
border-style: solid; 
border-width: 2px;
border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;			
}
.signup:hover{
background-color:#EBEFEB;
}